<template>
    <div>
        <h5>{{ title }} <span class="badge badge-info">{{items.length}}</span></h5>
        <div class="card">
            <!--<div class="form-group">
                <label>Filtrar</label>
                <input type="text" class="form-control" placeholder="Filtrar repo por nome" v-model="filter">
            </div>-->
            <div class="card-body small">
                <ul class="list-group scroll-list">
                    <li class="list-group-item" v-for="item in items" v-bind:key="item.codigo">
                        <div class="row">
                            <div class="col-md">
                                <span v-bind:class="item.classe" v-bind:title="item.cargo">{{item.nome_completo}}</span>
                            </div>
                            <div class="col-md-2 text-right">
                                <a class="btn-sm btn-sm-info" title="Ver foto" v-bind:href="item.verFoto" target="_blank">
                                    <span class="fa fa-user"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AppItemList",
        props: ["title", "items", "classe"],
        data() {
            return {
                item: ""
            };
        }
    };
</script>

<style scoped>
    .scroll-list {
        height: 150px;
        overflow-y: scroll;
    }
</style>
