<template>
    <div>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <AppItemList title="Lista completa" v-bind:items="baseItems"></AppItemList>
                    </div>
                    <div class="col-md">
                        <h5>JSON <span><i class="fa fa-info-circle"
                                          title="Insira o JSON no campo abaixo para realizar a comparação."></i></span>
                        </h5>
                        <textarea id="myTextArea" cols="50" rows="8" v-model="listName"></textarea>
                        <button class="btn btn-warning" v-on:click="processNames(listName)">Processar lista</button>
                        <!--<button class="btn btn-success" v-on:click="processNamesAutomatic()">Processar lista
                            automaticamente
                        </button>-->
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-md">
                        <AppItemList title="Lista informada" v-bind:items="employeeAtual"></AppItemList>
                    </div>
                    <div class="col-md">
                        <AppItemList title="Admitidos" v-bind:items="employeeAdmitido"></AppItemList>
                    </div>
                    <div class="col-md">
                        <AppItemList title="Desligados" v-bind:items="employeeDemitido"></AppItemList>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios/dist/axios";
    import "bootstrap/dist/css/bootstrap.css";
    import "font-awesome/css/font-awesome.css";
    import AppItemList from "./AppItemList";

    export default {
        name: "app",
        components: {
            AppItemList
        },
        data: function () {
            return {
                baseItems: [],
                listName: "",
                newResult: [],
                employeeAtual: [],
                employeeAdmitido: [],
                employeeDemitido: []
            };
        },
        methods: {
            processNames(list) {
                if (this.listName === '') return;
                this.employeeAtual = [];
                this.employeeAdmitido = [];
                this.employeeDemitido = [];
                const parseJson = JSON.parse(list),
                    listProcess = parseJson.map(result => result.codigo),
                    listBaseItems = this.baseItems.map(result => result.codigo);
                for (let item in listProcess) {
                    const codigoAtualInterio = parseInt(listProcess[item]);
                    if (listBaseItems.includes(codigoAtualInterio)) {
                        const codigo = codigoAtualInterio,
                            funcionario = this.baseItems.find(result => result.codigo === codigoAtualInterio),
                            verFoto = `https://intranet.betha.com.br/ImagemServlet?id=${funcionario.codigo}&type=funcionario`,
                            nome_completo = funcionario.nome_completo, cargo = funcionario.cargo, situacao = 'ATUAL',
                            classe = '';
                        this.employeeAtual.push({
                            codigo,
                            nome_completo,
                            situacao,
                            classe,
                            verFoto,
                            cargo
                        });
                    } else {
                        const codigo = codigoAtualInterio,
                            funcionario = parseJson.find(result => result.codigo === listProcess[item]),
                            verFoto = `https://intranet.betha.com.br/ImagemServlet?id=${funcionario.codigo}&type=funcionario`,
                            nome_completo = funcionario.nome_completo,
                            cargo = funcionario.cargo,
                            situacao = 'ADD',
                            classe = 'text-success';
                        this.employeeAdmitido.push({
                            codigo,
                            nome_completo,
                            situacao,
                            classe,
                            verFoto,
                            cargo
                        });
                    }
                }
                const listAtualItems = this.employeeAtual.map(result => result.codigo);
                for (let itemBase in listBaseItems) {
                    const codigoRemovidoInteiro = parseInt(listBaseItems[itemBase]);
                    if (!listAtualItems.includes(codigoRemovidoInteiro)) {
                        const codigo = codigoRemovidoInteiro,
                            funcionario = this.baseItems.find(result => result.codigo === codigoRemovidoInteiro),
                            verFoto = `https://intranet.betha.com.br/ImagemServlet?id=${funcionario.codigo}&type=funcionario`,
                            nome_completo = funcionario.nome_completo,
                            cargo = funcionario.cargo,
                            situacao = 'REMOVE',
                            classe = 'text-danger';
                        this.employeeDemitido.push({
                            codigo,
                            nome_completo,
                            situacao,
                            classe,
                            verFoto,
                            cargo
                        });
                    }
                }
                this.listName = '';
            }
        },
        created() {
            axios({
                url: process.env.VUE_APP_URL_API,
                method: "post",
                data: {
                    query: `
                	    {
                	        baseItems: items (status: "base") {
                	            codigo
                	            status
                	            nome
                	            nome_completo
                	            cargo
                	        }
                	    }
                	`
                }
            }).then(response => {
                const query = response.data,
                    dataItens = query.data.baseItems;
                for (let funcionario in dataItens) {
                    dataItens[funcionario].verFoto = `https://intranet.betha.com.br/ImagemServlet?id=${dataItens[funcionario].codigo}&type=funcionario`;
                }
                this.baseItems = dataItens;
            });
        }
    };
</script>

<style>

</style>
