<template>
    <div>
        <div id="slogan" class="text-center">
            <h1>e-funcionários</h1>
            <br/>
            <h6 class="text-secondary">Compare funcionários e veja quem foi adimitido ou demitido. Para isso basta
                copiar o retorno da requisição dos funcionários da intranet e colar no campo abaixo. Se já estiver
              logado na intranet basta <a href="https://intranet.betha.com.br/localizadordefuncionarios?q=&filters=()&format=json" target="_blank">clicar aqui</a> e copiar a lista.</h6>
        </div>
        <div id="main">
            <FuncionarioList></FuncionarioList>
        </div>
    </div>
</template>

<script>
    import "bootstrap/dist/css/bootstrap.css";
    import "font-awesome/css/font-awesome.css";
    import FuncionarioList from "./components/FuncionarioList";

    export default {
        name: 'app',
        components: {
            FuncionarioList
        }
    }
</script>

<style>
    #slogan {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #main {
        background-color: #F1F1F1;
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>
